
html {
	overflow-y: auto;
}

.light::-webkit-scrollbar {
	width: 15px;
}

.light::-webkit-scrollbar-track {
	background: transparent;
	border-left: 1px solid #dadada;
}

.light::-webkit-scrollbar-thumb {
	background: #b0b0b0;
	border: solid 3px #e6e6e6;
}

.light::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.dark::-webkit-scrollbar {
	width: 15px;
}

.dark::-webkit-scrollbar-track {
	background: transparent;
	border-left: 1px solid #2c2c2c;
}

.dark::-webkit-scrollbar-thumb {
	background: #3e3e3e;
	border: solid 3px #202020;
}

.dark::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.dark-img {

}

.light-img {
	filter: invert(0.8);
}