
html {
	overflow-y: auto;
}

.light::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.light::-webkit-scrollbar-track {
	background: #dddddd;
}

.light::-webkit-scrollbar-thumb {
	background: #b0b0b0;
}

.light::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.dark::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.dark::-webkit-scrollbar-track {
	background: #4d4d4d;
}

.dark::-webkit-scrollbar-thumb {
	background: #3e3e3e;
}

.dark::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.scroller {
	height: calc(100vh - 112px);
	overflow-y: auto;
}

.scroller-cutted {
	height: calc(100vh - 65px);
	overflow-y: auto;
}

.v-menu__content.theme--dark::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.v-menu__content.theme--dark::-webkit-scrollbar-track {
	background: #4d4d4d;
}

.v-menu__content.theme--dark::-webkit-scrollbar-thumb {
	background: #3e3e3e;
}

.v-menu__content.theme--dark::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.v-menu__content.theme--light::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.v-menu__content.theme--light::-webkit-scrollbar-track {
	background: #dddddd;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb {
	background: #b0b0b0;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.v-data-table.theme--dark > .v-data-table__wrapper::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.v-data-table.theme--dark > .v-data-table__wrapper::-webkit-scrollbar-track {
	background: #4d4d4d;
}

.v-data-table.theme--dark > .v-data-table__wrapper::-webkit-scrollbar-thumb {
	background: #3e3e3e;
}

.v-data-table.theme--dark
	> .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.v-data-table.theme--light > .v-data-table__wrapper::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.v-data-table.theme--light > .v-data-table__wrapper::-webkit-scrollbar-track {
	background: #dddddd;
}

.v-data-table.theme--light > .v-data-table__wrapper::-webkit-scrollbar-thumb {
	background: #b0b0b0;
}

.v-data-table.theme--light
	> .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.shame.v-card {
	border: 1px solid orange !important;
}

.mono {
	font-family: monospace;
}

.smol-chip > .v-chip__content {
	font-size: 12px;
}

.theme--light.v-data-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .03);
}
.theme--dark.v-data-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .5);
}

.v-expansion-panel-header {
	background: rgba(87, 87, 87, 0.12);
}

a { text-decoration: none; }