$body-font-family: 'Open Sans', sans-serif;
$tooltip-font-size: 12px;
$tooltip-background-color: rgba(#212121, 1);
$expansion-panel-header-min-height: 26px;
$expansion-panel-active-header-min-height: 26px;
$expansion-panel-content-padding: 0px;
$app-bar-elevation: 2px;