$body-font-family: 'Open Sans', sans-serif;
$tooltip-font-size: 12px;
$tooltip-border-radius: 0px;
$expansion-panel-header-min-height: 26px;
$expansion-panel-active-header-min-height: 26px;
$expansion-panel-content-padding: 0px;
$app-bar-elevation: 4px;
$img-preload-filter: none;
$tabs-bar-height: 34px;